
@{
    ViewBag.Title = "Index";
}

@{
    CategoryManager category = new CategoryManager();

    foreach (var item in category.Find(0).ToList())
    {
        <a href="@item.CategoryFullUrl">@item.CategoryName</a>
        <ul>
            @foreach (var submenu in item.Items)
            {
                <li><a href="@submenu.CategoryFullUrl">@submenu.CategoryName</a></li>

            }
        </ul>

    }


    BannerManager banner = new BannerManager();
    var bannerResult = banner.Find(76864);
    foreach (var item in bannerResult)
    {
        @item.Name
        <img src="~/Uploads/Image/@item.Image" />
    }
    <br />

    ContactInformationManager contact = new ContactInformationManager();
    var contactResult = contact.Find();
    foreach (var item in contactResult)
    {
        @item.Name
        <br />
        @item.Phone
    }
    <br />
    RecordManager record = new RecordManager();
    var recordResult = record.Find();
    foreach (var item in recordResult)
    {
        @item.Name
        <br />
        @Html.Raw(item.ShortContent)

    }

    RecordImageManager recordImage = new RecordImageManager();
    var recordImageResult = recordImage.Find(8106);
    foreach (var item in recordImageResult)
    {
        @item.Name
        <img src="~/Uploads/Image/@item.ImageName" />

    }

    RecordFileManager recordFile = new RecordFileManager();
    var recordFileResult = recordFile.Find(8093);
    foreach (var item in recordFileResult)
    {
        @item.Name

    }
}
