@{
    Inta.Framework.Ado.Net.DBLayer db = new Inta.Framework.Ado.Net.DBLayer(System.Configuration.ConfigurationManager.ConnectionStrings["DefaultDataContext"].ToString());
    var ustMenu = db.Find<Inta.Framework.Entity.SystemMenu>("Select * from SystemMenu where SystemMenuId=0 and IsActive=1 and ShowInMenu=1 Order by OrderNumber asc", System.Data.CommandType.Text);
}


@foreach (var item in ustMenu.Data)
{
    var user = db.Get("Select * from SystemUser where Id=" + Convert.ToInt32(Inta.Framework.Admin.Base.Authorization.AuthenticationData.UserId), System.Data.CommandType.Text);
    

    Inta.Framework.Ado.Net.DBLayer dbAltMenu = new Inta.Framework.Ado.Net.DBLayer(System.Configuration.ConfigurationManager.ConnectionStrings["DefaultDataContext"].ToString());
    var altMenu = dbAltMenu.Find<Inta.Framework.Entity.SystemMenu>("Select * from SystemMenu where SystemMenuId=" + item.Id + " and IsActive=1 Order by OrderNumber asc", System.Data.CommandType.Text);
    bool active = altMenu.Data.Any(a => a.ControllerName == this.ViewContext.RouteData.Values["controller"].ToString() && a.ActionName == this.ViewContext.RouteData.Values["action"].ToString());


    <li menu-id="@item.Id">

        <a class="item @(active ? "active" : "")" item-id="@item.Id" href="@(item.ControllerName == "#" ? "#" : "/Admin/" + item.ControllerName+"/"+item.ActionName)"><i class="@item.MenuIcon" style="font-size: 18px;"></i> @item.Name</a>
        <ul class="nav-menu-sub @(active ? "active" : "")">


            @foreach (var menu in altMenu.Data)
            {
                if (menu.ShowInMenu)
                {
                    <li><a href='@(menu.ControllerName == "#" ? "#" : "/Admin/" + menu.ControllerName + "/" + menu.ActionName)'><i class="@menu.MenuIcon" style="font-size: 18px;"></i>@menu.Name </a></li>
                }
            }

        </ul>
    </li>
}