
@{
    ViewBag.Title = "Index";
}
<link href="@Url.Content("~/Content/css/image-crop.css")" rel="stylesheet" />

<div class="form-content">
    <div class="popupMessage"></div>
    @{
        string width = ViewBag.Width;
        string height = ViewBag.Height;

        @Html.Hidden("Width", (width ?? "0").ToString());
    }
    @{
        @Html.Hidden("Height", (height ?? "0").ToString());
    }


    <div class="form-group">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-group" id="jcrop">
                    <img id="imagePreview" src="@(ViewBag.Image)" alt="Lütfen bir resim seçiniz." />
                </div>
            </div>
        </div>
    </div>



    <div class="modal-footer">
        <button type="submit" id="btnsubmit" class="btn btn-standart" onclick="ReturnImage('imagePreview')">Başa dön</button>
        <button type="submit" id="btnsubmit" class="btn btn-standart" onclick="CropImage('imagePreview',null)">Cropla</button>
        <button type="submit" id="btnsubmit" class="btn btn-standart" onclick="CropImage('imagePreview', '@Request["SaveUrl"]')">Cropla ve Bitir</button>

    </div>
</div>


@section scripts{

}

<script src="@Url.Content("~/Content/js/jquery.Jcrop.min.js")"></script>
<script src="@Url.Content("~/Content/js/controller/imagecrop.js")"></script>


<script>

    $(function () {
        ResizeImage(@ViewBag.Width,@ViewBag.Height);
    });
</script>